// Start: {{ dashCase name }}

mixin {{ dashCase name }}(title, mods)
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +{{ dashCase name }}()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

// End: {{ dashCase name }}
