.slide-item {
  &__image{
    max-width: 100%; 
  }
  &__content{
    padding: 12px 0;
    position: relative;
  }
  &__title{
    position: absolute;
    top: 12px;
    min-width: 110px;
    left: 0;
    background: #ad1d1d;
    padding: 8px;
    z-index: 10;
    p{
      color: #fff;
      text-transform: uppercase;
      font-size: 15.5px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}
