// Start: slide-item

mixin slide-item(img, title)
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +slide-item()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?
  .slide-item__content
    .slide-item__image
      a(href="#")
        img(src=img, alt="image")
    .slide-item__title
      p=title
// End: slide-item
