.item-component {
  padding: 20px 0px 15px;
  margin: 0 35px;
  border-bottom: 1px solid #f8f8f8;
  &__icon{
    padding: 0 10px;
    float: left;
  }
  &__text{
    padding-left: 20px;
    float: left;
    p{
      font-weight: 700;
      color: #282828;
    }
  }
}
.item-component:last-child{
  border-bottom: none;
}