// Start: item-component

mixin item-component(img, text)
  .item-component
    .item-component__icon
      a(href="#")
        img(src=img, alt="icon-item")
    .item-component__text
      a(href="#")
        p=text
    .clear-fix
// End: item-component
