.article-small {
  margin-bottom: 55px;
  &__content{
    // padding: 25px 0;
    display: table;
    width: 100%;
  }
  &__image{
    width: 27%;
    display: table-cell;
    img{
      height: 100%;
      margin: auto;
    }
  }
  &__desc{
    width: 73%;
    display: table-cell;
    &--content{
      padding: 0 25px 0 18px;
      p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        strong{
          line-height: 23px;
          font-size: 15.5px;
          letter-spacing: -1px;
          font-weight: 700;
        }
        small{
          font-size: 12.18px;
          // line-height: 18.86px;
          letter-spacing: -1px;
          font-weight: 400;
          color: #c4c4c4;
          span{
            &:nth-child(1){
              i{
                padding-right: 5px;
              }
            }
            &:nth-child(2){
              i{
                padding-right: 10px;
              }
            }
            padding-right: 15px;
          }
        }
        &:nth-child(1){
          padding-top: 5px;
          height: 48px;
        }
        &:nth-child(2){
          padding-top: 10px;
        }
      }
    }
  }
}
