// Start: article-small

mixin article-small(img,content,time,numb)
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +article-small()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?
  .article-small__content
    .article-small__image.col
      a(href="#")
        img(src=img, alt="image")
    .article-small__desc.col
      .article-small__desc--content
        p.content
          a(href="#")
            strong=content
        p
          small
            span
              i.far.fa-clock
              date.time=time
            span
              i.far.fa-comment
              span.number=numb
    .clear-fix
// End: article-small
