/*********************
    - 2. General -
*********************/
*{
  outline: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 15.5px;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #282828;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
  text-decoration: none;
}
    
img {
  max-width: 100%;
  border: none;
  display: block;
}

.container {
  margin: 0px auto;
  max-width: 1170px;
}

.col {
  float: left;
}

.col-right {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
p{
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.col-50{
  width: 50%;
}
.col-66{
  width: 66.67%;
}
.col-33{
  width: 33.33%;
}
.text-right{
  text-align: right;
}
h2.title{
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 5px solid #ad1d1d;
}
button{
  outline: none;
}