#wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.bg{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
}
.menu-mobile{
    position: absolute;
    width: 270px;
    z-index: 9999;
    top: 0;
    left: -321px;
    background-color: #282828;
    min-height: 100vh;
    @include trans(all 0.5s ease);
    
    &__content{
        position: relative;
        overflow-y: scroll;
        height: 100vh;
    }
    &__exit{
        position: absolute;
        right: -51px;
        top: 0;
        button{
            line-height: 46px;
            border: none;
            background-color: #282828;
            width: 51px;
            border-left: 1px solid #535353;
            a{
                font-size: 22px;
                color: #ffffff;
            }
        }
    }
    &__search{
        background-color: #282828;
        padding: 15px;
        border-bottom: 1px solid #535353;
        position: relative;
        input{
            border: none;
            line-height: 19px;
            width: 100%;
            outline: none;
            padding-left: 10px;
            padding-right: 30px;
        }
        button{
            border: none;
            outline: none;
            line-height: 17px;
            position: absolute;
            right: 15px;
            top: 16px;
        }
    }
    &__content2{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                background-color: #282828;
                padding: 15px;
                color: #ffffff;
                border-bottom: 1px solid #535353;
                text-transform: uppercase;
            }
        }
    }
    &__contact{
        padding: 15px;
        background-color: #ad1d1d;
        border-bottom: 1px solid #535353;
        color: #ffffff;
        ul{
            display: table;
            width: 100%;
            li{
                display: table-cell;
                text-align: center;
                width: 50%;
            }
        }
    }
    &__links{
        padding: 15px;
        background-color: #ad1d1d;
        border-bottom: 1px solid #535353;
        ul{
            display: table;
            width: 100%;
        }
        li{
            display: table-cell;
            width: 25%;
            img{
                margin: auto;
            }
        }
    }
}
.menu-mobile.active{
    left: 0;
}
#wrapper.active{
    height: 100vh;
    overflow: hidden;
}
#wrapper.active .bg{
    display: block;
}
.slide{
  &--padding{
    padding: 0 25px;
  }
  &__content{
    background: #282828;
    border-top: 8px solid #ad1d1d;
    border-bottom: 8px solid #ad1d1d;
    padding: 0 10px;
  }
}
// end slide
.footer{
  background: #282828;
  color: #fff;
  padding: 50px 0;
  &__row{
    margin: 0 -15px;
  }
  &__padding{
    padding: 0 15px;
  }
  &__logo{
    width: 31.6%;
    &--content{
      padding-top: 20px;
    }
    &--image{
      padding-left: 30px;
    }
  }
  &__contact{
    width: 31.6%;
    &--content{
      padding-right: 70px;
      padding-left: 70px; 
    }
    &--address{
      padding: 20px 0;
      font-style: normal;
      p{
        font-size: 16px;
        line-height: 30px;
        span{
        //   color: #9d9d9d;
          font-weight: 300;
        }
      }
    }
  }
  &__follow{
    width: 31.6%;
    &--content{
      padding-left: 100px;
      ul{
        padding-top: 32px;
        font-size: 0;
        li{
          width: 25%;
          text-align: center;
          a{
            i{
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}
/*header*/
.header{
    position: relative;
    &__top{
        background-color: #ad1d1d;
        color: #ffffff;
        ul{
            li{
                line-height: 46px;
                height: 46px;
                vertical-align: middle;
            }
        }
    }
    &__contact{
        ul{
            font-size: 0;
        }
        li{
            padding: 0 25px;
            cursor: pointer;
            @include trans(all 0.5s ease);
        }
        li:hover{
            background-color: #fff;
            color: #ad1d1d;
        }
        a{
            text-transform: uppercase;
            font-size: 12.08px;
            font-weight: 500;
        }
    }
    &__links{
        li{
            padding-right: 15px;
            img{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__logo{
        &--img{
            padding: 25px 0 45px;
        }
    }
    &__menu{
        .btn-menu-mobile{
            position: absolute;
            top: 48px;
            left: 28px;
            display: none;
            a{
                display: block;
            }
            i{
                font-size: 32px;
            }
        }
        &--content{
            ul{
                display: table;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            li{
                display: table-cell;
                cursor: pointer;
                padding: 0 15px;
                line-height: 40px;
                height: 40px;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 900;
                color: #ffffff;
                background-color: #282828;
                border-left: 1px solid #535353;
                text-align: center;
            }
            li:first-child{
                border-left:none;
            }
        }
    }
    &__bottom{
        background-color: #f7f7f7;
    }
    &__new{
        &--content{
            font-size: 0;
            button{
                color: #ffffff;
                font-weight: 900;
                font-size: 14.69px;
                border: none;
                background-color: #ad1d1d;
                line-height: 46px;
                height: 46px;
                vertical-align: middle;
                padding: 0 15px 0 20px;
                text-transform: uppercase;
                display: inline-block;
                cursor: pointer;
                margin-top: -46px;
                i{
                    margin-left: 20px;
                }
            }
            .header-slide{
                display: inline-block;
                max-width: 75%;
            }
        }
        &--text{
            font-weight: 300;
            padding: 0 35px;
            font-size: 17.58px;
            display: block;
            line-height: 46px;
        }
    }
    &__search{
        &--input{
            padding-right: 25px;
            vertical-align: middle;
            height: 46px;
            line-height: 44px;
            input[type='search']{
                height: 34px;
                line-height: 32px;
                padding-left: 15px;
                font-weight: 300;
                font-size: 12.34px;
                border: 1px solid #e5e5e5;
                width: 66%;
                outline: none;
            }
        }
    }
}
/*end-header*/
/*banner*/
.padding-banner{
    padding-top: 45px;
}
.banner{
    &__slider{
        &--content{
            padding-left: 28px;
            position: relative;
            .owl-dots{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                margin-bottom: 30px;
            }
        }
        .item{
            position: relative;
            &__text{
                position: absolute;
                top: 0;
                right: 0;
                padding: 30px 40px 25px;
                max-width: 335px;
                color: #ffffff;
                background-color: rgba(0,0,0,0.68);
                border-bottom: 5px solid #ad1d1d;
                h3{
                    margin-top: 0;
                    margin-bottom: 40px;
                    font-size: 25.26px;
                    font-weight: 700;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
        }
    }
}
.update{
    padding-left: 30px;
    &__content{
      &--article{
        .article-small__content{
          padding: 25px 0 30px;
        }
      }
    }
}
/*end-banner*/

/*news*/
.padding-news{
    padding: 30px 0;
}
.news{
    &__content2{
        &--title{
            padding-left: 28px;
            h2{
                padding-top: 15px;
            }
        }
        &--article{
            padding-top: 25px;
            .article-big{
                &__title{
                    margin-top: 19px;
                }
            }
        }
    }
    .article__col{
        padding-left: 28px;
    }
    .article-big{
        &__text{
            margin-top: 25px;
            margin-bottom: 30px;
        }
    }
    .article-small__content{
      padding: 15px 0 25px;
      border-top: 1px dotted #f6f6f6;
    }
}
.startup{
    padding-left: 30px;
    
    &__content{
        background-color: #f7f7f7;
        &--title{
            h2{
                position: relative;
                padding-left: 127px;
                padding-top: 15px;
            }
            img{
                background-color: #ad1d1d;
                position: absolute;
                padding: 10px 35px;
                bottom: -5px;
                left: 0;
                display: inline-block;
            }
        }
    }
    &__content2{
        padding: 0 35px 25px;
        .list-article{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                padding: 20px 0;
                min-height: 35px;
                font-weight: 400;
                font-size: 17px;
                border-bottom: 1px dotted #e9e9e9;
                
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
            li:last-child{
                border-bottom: none;
            }
        }
    }
}
/*end-news*/

// article
.article{
  &_padding{
      padding: 0 10px;
  }
  &__item{
      width: 33.33%;
    &--padding{
      padding: 0 15px;
    }
    &--content{
      padding-top: 40px;
      .article-big{
        padding-top: 10px;
        &__title{
            h3{
                margin-top: 25px;
            }
        }
        &__text{
          padding-top: 25px;
        }
      }
      .article-small{
        padding-top: 20px;
        &__content{
          padding-top:15px;
          padding-bottom: 25px;
          border-top: 1px dotted #f6f6f6;
        }
      }
    }
  }
}
//post
.post{
    &__article{
        .list-news{
            &__top{
                &--content{
                    padding: 35px 0 40px 28px;
                    .title-top{
                        line-height: 33px;
                        height: 35px;
                        border-bottom: 1px dotted #f8f8f8;
                        border-top: 1px dotted #f8f8f8;
                        a{
                            color: #a39b95;
                        }
                        a:first-child{
                            font-size: 16.54px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        a:nth-child(2){
                            margin: 0 9px;
                            i{
                                font-size: 15.46px;
                            }
                        }
                        a:last-child{
                            font-size: 15.46px;
                            font-weight: 300;
                        }
                    }
                }
            }
            
        }
        &--title{
            h1{
                font-size: 32px;
                text-transform: capitalize;
                color: #282828;
            }
        }
        &--author{
            margin-top: 15px;
            a,address{
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
            }
            a.post-categories{
                color: #fff;
                background: #dc3522;
                padding: 1px 10px;
                margin-right: 5px;
            }
            address{
                a{
                    color: #dc3522;
                }
            }
            span.comment-count{
                margin-left: 15px;
                i{
                    margin-right: 7px;
                }
            }
        }
        &--content{
            margin: 15px 0 0;
        }
        &--author-metabox{
            background: #f1f1f1;
            padding: 15px;
            margin: 20px 0;
        }
        &--form-comment{
            background: #f2f2f2;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 30px;
            color: #141414;
            form{
                .box__left{
                    width: 45%;
                    input{
                        display: block;
                        margin-bottom: 21px;
                        padding: 3px 6px;
                        color: #666;
                        border: 1px solid #ccc;
                        line-height: 30px;
                        width: 88%;
                        -webkit-appearance: none;
                    }
                }
                .box__right{
                    width: 50%;
                    textarea{
                        resize: none;
                        width: 98%;
                        overflow: auto;
                        padding-left: 3px;
                        vertical-align: top;
                        color: #666;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        height: 150px;
                    }
                }
                .button__post{
                    button.btn--post{
                        color: #3d3d3d;
                        cursor: pointer;
                        font-size: 14px;
                        line-height: 13px;
                        height: 33px;
                        padding: 10px 15px;
                        font-weight: 400;
                        display: inline-block;
                        border: 1px solid #DC3522;
                        background: #fff;
                        &:hover{
                            background: #DC3522;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 20px;
        font-size: 17px;
        h2{
            font-size: 30px;
            margin-bottom: 15px;
            color: #3d3d3d;
            font-weight: 400;
        }
        p{
            margin-bottom: 20px;
            &.image-center{
                width: 600px;
                height: 375px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            &.strong{
                font-weight: 700;
            }
        }
    }
}
.btn-share{
    font-size: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 4px 4px;
    position: relative;
    background-color: #f7f7f7;
    width: 86px;
    text-align: center;
    display: block;
    margin: 10px;
    &::before{
        border-top: 2px solid transparent;
        position: absolute;
        height: 2px;
        width: 100%;
        content: "";
        left: 0;
        top: -1px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
    a{
        span{
            color: #636363;
            font-size: 14px;
            margin: 0 0 0 7px;
        }
    }
    &:hover::before{
        border-color: transparent;
        width: 0;
    }
}
.btn-fb{
    i{
        color: #3b5998;
    }
    &::before{
        border-color: #3b5998;
    }
}
.btn-tw{
    i{
        color: #1dcaff;
    }
    &::before{
        border-color: #1dcaff;
    }
}
.btn-gg{
    i{
        color: #dd4b39;
    }
    &::before{
        border-color: #dd4b39;
    }
}
.btn-pinter{
    i{
        color: #C92228;
    }
    &::before{
        border-color: #C92228;
    }
}
.btn-linkin{
    i{
        color: #3f729b;
    }
    &::before{
        border-color: #3f729b;
    }
}
.btn-digg{
    i{
        color: #2169a8;
    }
    &::before{
        border-color: #2169a8;
    }
}
.btn-mail{
    i{
        color: #8f8f8f;
    }
    &::before{
        border-color: #8f8f8f;
    }
}
.btn-print{
    i{
        color: #5e5959;
    }
    &::before{
        border-color: #5e5959;
    }
}
.author{
    &__avatar{
        width: 14%;
        display: inline-block;
        vertical-align: top;
        margin-right: 2%;
    }
    &__desc{
        width: 82%;
        display: inline-block;
        vertical-align: top;
        a{
            color: #dc3522;
            display: inline-block;
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 10px;
            text-transform: capitalize;
            vertical-align: top;
        }
    }
}
.news__prev,.news__next{
    a{
        display: block;
        padding: 0 10px;
        &:hover{
            color: #dc3522 !important;
        }
    }
    a:first-child{
        margin-bottom: 15px;
    }
}
.news__prev{
    i{
        margin-right: 5px;
    }
}
.news__next{
    i{
        margin-left: 5px;
    }
}
.form__title{
    margin: 0 0 20px;
    color: #141414;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}
// scrollTop
.scroll_Top{
    background: #c7c7c7;
    position: fixed;
    bottom: 5px;
    cursor: pointer;
    right: 20px;
    transition: all .5s ease;
    opacity: 0;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 5px 14px;
    &:hover,&.active{
        background: #c62c1a;
        outline: none;
        opacity: 1;
    }
}
/*list-news*/
.list-news{
    &__top{
        &--content{
            padding: 35px 0 40px 28px;
        }
    }
    .title-top{
        line-height: 33px;
        height: 35px;
        border-bottom: 1px dotted #f8f8f8;
        border-top: 1px dotted #f8f8f8;
        a{
            color: #a39b95;
        }
        a:first-child{
            font-size: 16.54px;
            font-weight: 700;
            text-transform: uppercase;
        }
        a:nth-child(2){
            margin: 0 9px;
            i{
                font-size: 15.46px;
            }
        }
        a:last-child{
            font-size: 15.46px;
            font-weight: 300;
        }
    }
    &__content2{
        padding-left: 28px;
    }
    &__title{
        h2{
            color: #282828;
            font-size: 29.14px;
            font-weight: 700;
            margin-bottom: 25px;
        }
    }
    &__button{
        &--content{
            padding: 50px 0 60px;
            font-size: 0;
        }
        .item-button{
            display: inline-block;
            margin-right: 6px;
            button{
                width: 38px;
                line-height: 43px;
                height: 43px;
                text-align: center;
                vertical-align: middle;
                border: none;
                outline: none;
                background-color: #f7f7f7;
                font-size: 19.21px;
                color: #282828;
                font-weight: 700;
                @include trans(all 0.5s ease);
            }
            button:hover{
                background-color: #ad1d1d;
                color: #ffffff;
            }
            button.next i{
                font-weight: 600;
            }
        }
        .item-button.active button{
            background-color: #ad1d1d;
            color: #ffffff;
        }
    }
}
/*end-list-news*/
/*site-bar*/
.recent{
    padding-left: 30px;
    &__content{
        background-color: #f7f7f7;
        margin-top: 116px;
        &--title{
            h2{
                position: relative;
                padding-left: 127px;
                padding-top: 15px;
            }
            img{
                background-color: #ad1d1d;
                position: absolute;
                padding: 10px 40px 6px;
                bottom: -5px;
                left: 0;
                display: inline-block;
            }
        }
    }
    &__content2{
        padding: 0 35px;
        .list-article{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                padding: 20px 0;
                min-height: 35px;
                font-weight: 500;
                font-size: 17px;
                border-bottom: 1px dotted #e9e9e9;
                
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
            li:first-child{
                font-weight: 900;
            }
            li:last-child{
                border-bottom: none;
            }
        }
    }
}
.sitebar-padding{
    padding-top: 45px;
    padding-left: 30px;
}
.categories__content2{
    padding-top: 25px;
}
.fanpage{
    padding-bottom: 45px;
}
/*end-site-bar*/
