$image-path: 'images';
$fonts-path: 'fonts';
@mixin dis($pos){
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: $pos;
}

@mixin bg($img,$rep,$post) {
  background-image: url(#{$image-path}/#{$img});
  background-repeat: $rep;
  background-position: $post;
}

@mixin bgs($img,$rep,$post,$size) {
  background-image: url(#{$image-path}/#{$img});
  background-repeat: $rep;
  background-position: $post;
  -webkit-background-size: $size;
  background-size: $size;
}

@mixin rsul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@mixin bor($color) {
  border: 1px solid $color;
}

@mixin opacity($val) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$val*100})";
  filter: alpha(opacity=#{$val*100});
  -moz-opacity: $val;
  -khtml-opacity: $val;
  opacity: $val;
}

@mixin fontS($fontstyle: ''){
  @if($fontstyle == ''){
    font-style: normal;
  }
  @else{
    font-style: $fontstyle;
  }
}

@mixin trans($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin fontW($fontweight: ''){
  @if($fontweight == ''){
    font-weight: normal;
  }
  @else{
    font-weight: $fontweight;
  }
}

@mixin fonts($name, $namefile: '', $fontWeight: '', $fontstyle: '') {
  @font-face {
    @if($namefile != '') {
        font-family: $name;
        src: url('#{$fonts-path}/#{$namefile}.eot');
        src: url('#{$fonts-path}/#{$namefile}.eot?#iefix') format('embedded-opentype'),
           url('#{$fonts-path}/#{$namefile}.woff') format('woff'),
           url('#{$fonts-path}/#{$namefile}.ttf') format('truetype'),
           url('#{$fonts-path}/#{$namefile}.svg##{$name}') format('svg');

        @include fontS($fontstyle);
        @include fontW($fontWeight);
    } @else{
      font-family: $name;
      src: url('#{$fonts-path}/#{$name}.eot');
      src: url('#{$fonts-path}/#{$name}.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-path}/#{$name}.woff') format('woff'),
         url('#{$fonts-path}/#{$name}.ttf') format('truetype'),
         url('#{$fonts-path}/#{$name}.svg##{$name}') format('svg');
      font-style: normal;
      font-weight: normal;
    }
  }
}

/// @alias element
@mixin e($elements...) {
    $addElements: '';
    @if length($elements) > 1 {
        @for $i from 2 through length($elements) {
            $addElements: $addElements + '#{&}__' + nth($elements, $i);
        }
    }

    // We need to set the first modifier "by hand" to avoid nesting
    &__#{nth($elements, 1)}#{$addElements} {
        @content;
    }
}

/// @alias modifier
@mixin m($modifiers...) {
    $addModifiers: '';
    @if length($modifiers) > 1 {
        @for $i from 2 through length($modifiers) {
            $addModifiers: $addModifiers + '#{&}--' + nth($modifiers, $i);
        }
    }

    // We need to set the first modifier "by hand" to avoid nesting
    &--#{nth($modifiers, 1)}#{$addModifiers} {
        @content;
    }
}
