@media only screen and (max-width:1199px){
    .footer__row{
        margin:0;
    }
    .header__menu--content li{
        font-size: 12px;
    }
    .startup__content2 .list-article li{
        padding: 17px 0;
    }
    .update__content--article .article-small__content{
        padding: 14px 0;
    }
    .artical2 h3{
        -webkit-line-clamp: 1;
    }
    .header__new--content .header-slide{
        max-width: 66%;
    }
}
@media only screen and (max-width:991px){
    .footer__contact--content{
        padding: 0 30px;
    }
    .update__content--article .article-small__content{
        padding: 11px 0;
    }
    .startup__content2 .list-article li{
        padding: 16px 0;
    }
    .list-news .artical2 img{
        width: 100%;
    }
}
@media only screen and (max-width:940px){
    .banner [class*="col-"]{
        width: 100%;
    }
    .padding-banner,
    .update{
        padding-top: 30px !important;
    }
    .news .article__col,
    .startup,
    .banner__slider--content,
    .update,
    .news__content2--title{
        padding: 0 15px;
    }
    .startup{
        padding-top: 25px;
    }
    .news .col-66,
    .news .col-33{
        width: 100%;
    }   
    .header__menu--content{
        display: none;
    }
    .header__menu .btn-menu-mobile{
        display: block;
    }
    .header__logo--img img{
        margin: auto;
    }
    .header__bottom,
    .header__top{
        display: none;
    }
    .header__logo--img{
        padding: 15px 0;
    }
    .article-small__desc--content{
        padding: 0 15px;
    }
    .news .article__col,
    .news__content2--title{
        padding-left: 15px;
    }
    .startup__content--title img{
        padding: 10px 15px;
        left: -1px;
    }
    .startup__content--title h2{
        padding-left: 80px;
    }
    .article-big__description span:last-child{
        margin-left: 18px;
    }
    .article_padding{
        padding: 0;
    }
    .footer__contact--content{
        padding: 0 19px;
    }
    .footer__follow--content ul li a i{
        font-size: 23px;
    }
    .slide--padding{
        padding: 0 15px;
    }
    .update .article-small__desc--content p small span{
        padding-right: 7px;
    }
    .update .article-small__desc--content p small span:nth-child(2) i{
        padding-right: 5px;
    }
    .update .article-small__desc--content p:nth-child(2){
        padding-top: 4px;
    }
    .artical2__description,.artical2__text{
        margin-top: 15px;
    }
    .list-news .container > .col-66{
        width: 100%;
    }
    .list-news .container > .col-33{
        width: 100%;
    }
    .list-news__content2,
    .recent{
        padding: 0 15px;
    }
    .sitebar-padding{
        padding: 30px 15px 0;
    }
    .recent__content{
        margin-top: 0;
    }
    .list-news__button--content{
        padding: 30px 15px;
    }
    .list-news__top--content{
        padding: 20px 15px;
    }
}
@media only screen and (max-width:767px){
    .banner__slider .item__text{
        padding: 15px;
        max-width: 188px;
        p{
            display: none;
        }
        h3{
            margin-bottom: 0px; 
            font-size: 22px;
        }
    }
    .news__content2--title{
        padding: 0 15px;
    }
    .article-big__description span:last-child{
        margin-left: 12px;
    }
    .startup{
        padding-top: 5px;
    }
    .article__item{
        width: 100%;
    }
    .article__item--content .article-small{
        margin-bottom: 0;
    }
    .article_padding{
        padding-bottom: 30px;
    }
    .footer__logo,
    .footer__contact,
    .footer__follow{
        width: 100%;
    }
    .footer__logo--image img{
        margin: auto;
    }
    .footer__follow--content{
        padding: 0 19px;
    }
    .article .article-big__img img{
        width: 100%;
    }
    .article-small__desc--content{
        padding: 0 6px;
    }
    .news .article-small__desc--content p small span,
    .news .article-small__desc--content p small span:nth-child(2) i{
        padding-right: 5px;
    }
    .list-news .artical2 h3{
        font-size: 20px;
    }
    .footer__follow--content ul li{
        width: 10%;
    }
    .footer__logo--content{
        padding-top: 0;
    }
    .footer__follow--content ul{
        padding-top: 10px;
    }
}
@media only screen and (max-width:500px){
    .banner__slider--content .owl-dots{
        margin-bottom: 5px;
    }
    .header__logo--img img{
        max-width: 50%;
    }
    .header__menu .btn-menu-mobile{
        top: 30px;
        left: 15px;
        i{
            font-size: 22px;
        }
    }
    .news__content2--article [class *="col-"]{
        width: 100%;
    }
    .list-news .artical2 [class *="col-"]{
        width: 100%;
    }
    .list-news .artical2__content{
        padding: 20px 0 0;
    }
    .list-news__title h2{
        font-size: 24px;
    }
}
// phong
// thuan
@media screen and (max-width:1199px){

}
@media screen and (max-width:991px){
    .header__logo--img{
        img{
            margin: auto;
        }
    }
    .post{
        padding: 0 15px;
    }
}
@media screen and (max-width:940px){
    .col-33,.col-66{
        width: 100%;
    }
    .post__article .list-news__top--content{
        padding: 20px 0;
    }
}
@media screen and (max-width:500px){
    .item-component__icon{
        padding: 0;
    }
    .post__article--share{
        ul{
            text-align: center;
        }
    }
    .post__content p.image-center{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:409px) and (min-width:365px){
    .post__article--author span.comment-count{
        float: left;
        margin:10px;
    }
    .footer__follow--content ul li{
        width: 12.5%;
    }
}
@media screen and (max-width:380px){
    .footer__follow--content ul li{
        width: 25%;
    }
}