extends _layouts/layout
block content
  section#post.post
    .container
      .post__article.col-66.col
        .list-news__top
          .list-news__top--content
            .title-top
              a(href="#") trang chủ
              a(href="#")
                i.fas.fa-angle-right
              a(href="#") Quốc gia khởi nghiệp
        .post__article--title
          h1 Gọi vốn thành công
        .post__article--author
          a.post-categories(href="#")
            | Khởi nghiệp bốn phương
          address
            span by 
            a(href="#") tienhn
            span
              date - 23rd July 2018
          span.comment-count.col-right
            i.fas.fa-comments
            | 0
        .post__article--content
          .post__image
            img(src="images/donghoviet1-1132x509.jpg", alt="anh")
          article.post__content
            h2.post__content--title
              | Thương vụ gọi vốn của Startup đồng hồ Curnon trên Shark Tank Việt Nam mới đây gây khá nhiều tranh cãi trong cộng đồng khởi nghiệp và giới chơi đồng hồ.
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="anh")
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="anh")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="anh")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="anh")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="anh")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p.strong
              | Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p.image-center
              img(src="images/donghoviet1.jpg", alt="")
            p.image-caption Chopard Happy Palm – một ví dụ của việc đưa kim hoàn vào trong ngành đồng hồ
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
            p Nếu từ những gì xem được trong tập vừa rồi, có lẽ không việc kinh doanh nào đơn giản như vậy: Lắp ráp ở Trung Quốc, máy Nhật, thiết kế tại Việt Nam nhưng vẫn có thể thấy những điểm tương đồng với đồng hồ truyền thống, không thấy nói đồng hồ gì – máy cơ hay máy quartz, và Shark “chốt” vèo một cái 15 tỷ đồng đổi 45% cổ phần (sau có điều chỉnh lại).
        .post__article--share
          ul.list-inline
            li.btn-share.btn-fb
              a(href="#")
                i.fab.fa-facebook-f
                span Share
            li.btn-share.btn-tw
              a(href="#")
                i.fab.fa-twitter
                span Twitter
            li.btn-share.btn-gg
              a(href="#")
                i.fab.fa-google-plus-g
                span Share
            li.btn-share.btn-pinter
              a(href="#")
                i.fab.fa-pinterest
                span Share
            li.btn-share.btn-linkin
              a(href="#")
                i.fab.fa-linkedin-in
                span Share
            li.btn-share.btn-digg
              a(href="#")
                i.fab.fa-digg
                span Share
            li.btn-share.btn-mail
              a(href="#")
                i.fas.fa-envelope
                span Mail
            li.btn-share.btn-print
              a(href="#")
                i.fas.fa-print
                span Print
        .post__article--author-metabox
          .author__avatar
            img(src="images/user.png", alt="user")
          .author__desc
            a.author__desc--title(href="#") Tienhn
            p.author__desc--content
        .post__article--news-another
          .news__prev.col-50.col
            a(href="#")
              i.fas.fa-angle-left
              span Bài trước
            a(href="#")
              | Bỏ 2 tỷ đồng lập vườn rộng nửa ha với 200 loài lan rừng quý hiếm
          .news__next.col-50.col
            a.text-right(href="#")
              span Bài tiếp
              i.fas.fa-angle-right
            a(href="#")
              | Bỏ 2 tỷ đồng lập vườn rộng nửa ha với 200 loài lan rừng quý hiếm
          .clear-fix
        .post__article--form-comment
          h3.form__title Leave a Reply
          form(action="")
            .box__left.col
              input(type="text", name="author",id="author",placeholder="Name*",requied)
              input(type="email", name="email",id="email",placeholder="Email Address*",requied)
              input(type="text", name="website",id="website",placeholder="Website")
            .box__right.col-right
              textarea(name="comment", cols="30", rows="10",placeholder="Comment*")
            .clear-fix
            .button__post
              button.btn--post Post Comment
      .col.col-33
        include _partials/sitebar
      .clear-fix