include _partials/mixins.pug
#slide.slide
  .container
    .row
      .slide--padding
        .slide__content
          .owl-carousel.owl-theme
            -for(i=0;i<4;i++)
              .item
                +slide-item('images/boi-roi.jpg','Tài chính kinh tế')