include _partials/mixins.pug
section#article.article
  .container
    .row
      .article_padding
        .article__content
          -for(i=0;i<3;i++)
            .article__item.col
              .article__item--padding
                .article__item--content
                  h2.title tài chính kinh doanh
                  +article-big('images/duck.jpg','title',false)
                  .article-small
                    -for(j=1;j<3;j++)
                      +article-small('images/small1.png','lorem ipsum abc','15, Tháng 11, 2018','30')
          .clear-fix
