.owl-carousel.owl-theme
    .item.active
        img(src="images/banner-slide1.png", alt="banner-slide")
        .item__text
            a(href="#")
                h3 Ăn gì, làm gì trước khi đi phỏng vấn
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit illo consequuntur in expedita quae! Cupiditate a molestiae optio?
    .item
        img(src="images/banner-slide1.png", alt="banner-slide")
        .item__text
            a(href="#")
                h3 Ăn gì, làm gì trước khi đi phỏng vấn
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit illo consequuntur in expedita quae! Cupiditate a molestiae optio?
    .item
        img(src="images/banner-slide1.png", alt="banner-slide")
        .item__text
            a(href="#")
                h3 Ăn gì, làm gì trước khi đi phỏng vấn
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit illo consequuntur in expedita quae! Cupiditate a molestiae optio?
    .item
        img(src="images/banner-slide1.png", alt="banner-slide")
        .item__text
            a(href="#")
                h3 Ăn gì, làm gì trước khi đi phỏng vấn
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit illo consequuntur in expedita quae! Cupiditate a molestiae optio?
    .item
        img(src="images/banner-slide1.png", alt="banner-slide")
        .item__text
            a(href="#")
                h3 Ăn gì, làm gì trước khi đi phỏng vấn
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit illo consequuntur in expedita quae! Cupiditate a molestiae optio?