include _partials/mixins.pug
section#banner.banner
	.container
		.padding-banner
			.col.col-66
				.banner__slider
					.banner__slider--content
						include banner_slide.pug
			.col.col-33
				.update
					.update__content
						.update__content--title
							h2.title tin mới nhất
						.update__content--article
							-for(i=1;i<=3;i++)
								+article-small("images/small1.png","Bỏ 2 tỷ đồng lập vườn rộng nửa ha với 200 loài lan rừng quý hiếm","25,Tháng Năm,2015","19")
			.clear-fix