extends _layouts/layout
block content
  include _partials/mixins.pug
  section#list-news.list-news
    .container
      .col.col-66
        .list-news__top
          .list-news__top--content
            .title-top
              a(href="#") trang chủ
              a(href="#")
                i.fas.fa-angle-right
              a(href="#") Quốc gia khởi nghiệp
        .list-news__content
          .list-news__content2
            .list-news__title
              h2 Quốc gia khởi nghiệp
            .list-news__item
              -for(i=1;i<=7;i++)
                +artical2("images/sharktank"+i+".png","khởi nghiệp cho cuộc đời mình",true)
        .list-news__button
          .list-news__button--content
            .item-button.active
              button
                a(href="#") 1
            .item-button
              button
                a(href="#") 2
            .item-button
              button.next
                a(href="#")
                  i.fas.fa-angle-double-right
      .col.col-33
        include _partials/sitebar.pug
      .clear-fix