#menu-mobile.menu-mobile
	.menu-mobile__bg
	.menu-mobile__exit
		button.exit
			a(href="#") X
	.menu-mobile__content
		.menu-mobile__search
			.menu-mobile__search--content
				form(action="" name="search")
					input(type="search" placeholder="search...")
					button
						a(href="#")
							i.fas.fa-search
			
		.menu-mobile__content2
			ul
				li
					a(href="#") Quốc gia khởi nghiệp
				li
					a(href="#") tài chính kinh doanh
				li
					a(href="#") Xu khướng khởi nghiệp
				li
					a(href="#") Khởi nghiệp bốn phương
				li
					a(href="#") Kết nối startup
				li
					a(href="#") startup viết
		.menu-mobile__contact
			ul.list-inline
				li
					a(href="#") Về chúng tôi
				li
					a(href="#") Liên hệ
		.menu-mobile__links
			ul.list-inline
				li
					a(href="#")
						img(src="images/youtube.png", alt="")
				li
					a(href="#")
						img(src="images/facebook.png", alt="")
				li
					a(href="#")
						img(src="images/twitter.png", alt="")
				li
					a(href="#")
						img(src="images/google-plus.png", alt="")