include _partials/mixins.pug
section#news.news
  .container
    .padding-news
      .col.col-66
        .news__content
          .news__content2
            .news__content2--title
              h2.title quốc gia khởi nghiệp
            .news__content2--article
              -for(i=1;i<=2;i++)
                .col.col-50
                  .article__col
                    +article-big("images/sharktank"+i+".png","khởi nghiệp cho cuộc đời mình",true)
                    +article-small("images/small1.png","Bỏ 2 tỷ đồng lập vườn rộng nửa ha với 200 loài lan rừng quý hiếm","25, Tháng Năm, 2015","19")
                    +article-small("images/small1.png","Bỏ 2 tỷ đồng lập vườn rộng nửa ha với 200 loài lan rừng quý hiếm","25, Tháng Năm, 2015","19")
              .clear-fix
      .col.col-33
        .startup
          .startup__content
            .startup__content--title
              h2.title
                img(src="images/book.png", alt="icon-book")
                | startup viết
            .startup__content2
              .startup__content2--text
                ul.list-article
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Khởi nghiệp cho cuộc đời mình
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
                  li
                    a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
      .clear-fix