.artical2 {
  padding: 22px 0;
  border-top: 1px solid #f8f8f8;
  &__img{
  }
  &__content{
    padding-left: 18px;
  }
  .article2__title-extend{
    margin-top: 19px;
    h3{
      -webkit-line-clamp: 1;
    }
  }
  .article2__title{
    h3{
      -webkit-line-clamp: 2;
      height: 59px;
      line-height: 1.3;
    }
  }
  h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    color: #282828;
  }
  &__description{
    margin-top: 20px;
    p{
      font-weight: 300;
      color: #9d9d9d;
      font-size: 16.21px;
    }
    span:last-child{
      margin-left: 19px;
    }
  }
  &__text{
    margin-top: 35px;
    p{
      font-weight: 500;
      color: #282828;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }
}
