// Start: artical2

mixin artical2(img,title,mode)
	.artical2
		.col.col-33
			.artical2__img
				a(href="#")
					img(src=img, alt="img-article")
		.col.col-66
			.artical2__content
				-if(mode){
				.artical2__title
				-}
				-else{
				.artical2__title-extend
				-}
					a(href="#")
						h3=title
				.artical2__description
					p
						span
							i.far.fa-clock
							date 25, Tháng Năm, 2015
						span
							i.far.fa-comment
							| 18
				.artical2__text
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi asperiores exercitationem ipsam, doloribus eveniet excepturi aperiam porro distinctio consectetur magni? Similique, facilis omnis.
		.clear-fix
// End: artical2
