footer#footer.footer
  .container
    .footer__row
      .footer__content
        .footer__logo.col
          .footer__padding
            .footer__logo--content
              .footer__logo--image
                img(src="images/logo.png", alt="logo")
        .footer__contact.col
          .footer__padding
            .footer__contact--content
              h3 Contact us
              address.footer__contact--address
                p
                  strong Hotline: 
                  span 099999999
                p
                  strong Email: 
                  span qgkn@gmail.com
                p
                  strong Address: 
                  span Số abc, đường xyz, quận Hai Bà Trưng, Hà Nội
        .footer__follow.col
          .footer__padding
            .footer__follow--content
              h3 Follow us
              ul.list-inline
                li
                  a(href="#")
                    i.fab.fa-youtube
                li
                  a(href="#")
                    i.fab.fa-facebook-f
                li
                  a(href="#")
                    i.fab.fa-twitter
                li
                  a(href="#")
                    i.fab.fa-google-plus-g
        .clear-fix
       
//#footer
