header#header
    .container
        .header__top
            .row
                .col.col-50
                    .header__contact
                        ul.list-inline
                            li
                                a(href="#") Về chúng tôi
                            li
                                a(href="#") Liên hệ
                .col.col-50
                    .header__links.text-right
                        ul.list-inline
                            li
                                a(href="#")
                                    img(src="images/youtube.png", alt="")
                            li
                                a(href="#")
                                    img(src="images/facebook.png", alt="")
                            li
                                a(href="#")
                                    img(src="images/twitter.png", alt="")
                            li
                                a(href="#")
                                    img(src="images/google-plus.png", alt="")
                .clear-fix
        .header__logo
            .header__logo--img
                a(href="#")
                    img(src="images/logo.png", alt="logo")
        .header__menu
            .row
                .btn-menu-mobile
                    a(href="#")
                        i.fas.fa-bars
                .header__menu--content
                    ul
                        li
                            a(href="#") Quốc gia khởi nghiệp
                        li
                            a(href="#") tài chính kinh doanh
                        li
                            a(href="#") Xu khướng khởi nghiệp
                        li
                            a(href="#") Khởi nghiệp bốn phương
                        li
                            a(href="#") Kết nối startup
                        li
                            a(href="#") startup viết
        .header__bottom
            .row
                .col.col-66
                    .header__new
                        .header__new--content
                            button
                                a(href="#") tin mới nhất
                                i.fas.fa-chevron-right
                            .owl-carousel.owl-theme.header-slide
                                .item.active
                                    a.header__new--text(href="#") Lorem ipsum dolor sit.
                                .item
                                    a.header__new--text(href="#") Lorem ipsum dolor sit.
                                .item
                                    a.header__new--text(href="#") Lorem ipsum dolor sit.
                                .item
                                    a.header__new--text(href="#") Lorem ipsum dolor sit
                .col.col-33
                    .header__search.text-right
                        .header__search--input
                            form(action="" name="search")
                                input(type="search" placeholder="SEARCH ...")
                .clear-fix
//#header
