// Mixins
include ../../components/item-component/item-component.pug
include ../../components/artical2/artical2.pug
include ../../components/slide-item/slide-item.pug
include ../../components/article-small/article-small.pug
include ../../components/article-big/article-big.pug
