include mixins.pug
#sitebar.sitebar
  .recent
    .recent__content
      .recent__content--title
        h2.title
          img(src="images/icon-post.png", alt="icon-post")
          | recent post
      .recent__content2
        .recent__content2--text
          ul.list-article
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Khởi nghiệp cho cuộc đời mình
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
            li
              a(href="#") Chàng trai nuôi cá lăng giống kiếm tiền tỷ mỗi năm
  .categories
    .categories__content.sitebar-padding
      .categories__title
        h2.title categories
      .categories__content2
        -for(i=1;i<=5;i++)
          +item-component("images/icon-folder.png","Tài chính kinh doanh")
  .archives
    .archives__content.sitebar-padding
      .archives__title
        h2.title archives
      .archives__content2
        -for(i=1;i<2;i++)
          +item-component("images/icon-folder.png","July 2018")
  .fanpage
    .fanpage__content.sitebar-padding
      .fanpage__title
        h2.title follow on facebook
      