include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title=base.title
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      link(rel="stylesheet", href="libs/fontawesome/css/all.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
      link(rel="stylesheet" type="text/css" href="style.css")
      block head_end
  body
    #wrapper
      .scroll_Top
        a(href="#")
          i.fa.fa-arrow-up
          p top
      .bg
      include ../menu-mobile.pug
      include ../_partials/header.pug
      block content
      include ../_partials/footer.pug
    //#wrapper

    //JS
    script(src="libs/jQuery/jquery.min.js")
    script(src="libs/owlCarousel/owl.carousel.min.js")
    script(src="js/script.js")
    block body_end

