.article-big {
    .article-big__title-extend{
        margin-top: 19px;
        h3{
            -webkit-line-clamp: 1;
        }
    }
    .article-big__title{
        h3{
        -webkit-line-clamp: 2;
        height: 59px;
        line-height: 1.3;
        }
    }
    h3{
        display: -webkit-box;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 24px;
        font-weight: 700;
        
        color: #282828;
    }
    &__description{
        margin-top: 17px;
        p{
            font-weight: 400;
            color: #9d9d9d;
            font-size: 16.21px;
        }
        span:last-child{
            margin-left: 19px;
        }
    }
    &__text{
        p{
            font-weight: 500;
            color: #282828;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
}
