// Start: article-big

mixin article-big(img,title,mode)
  .article-big
    .article-big__img
      a(href="#")
        img(src=img, alt="img-article")
      -if(mode){
    .article-big__title
      -}
      -else{
    .article-big__title-extend
      -}
      a(href="#")
        h3=title
    .article-big__description
      p
        span
          i.far.fa-clock
          date 25, Tháng Năm, 2015
        span
          i.far.fa-comment
          | 18
    .article-big__text
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi asperiores exercitationem ipsam, doloribus eveniet excepturi aperiam porro distinctio consectetur magni? Similique, facilis omnis.
// End: article-big
